<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.AppMapper">

    <resultMap id="app" type="com.bc.app.server.entity.App">
        <id column="app_id" property="appId" jdbcType="VARCHAR"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="icon" property="icon" jdbcType="VARCHAR"/>
        <id column="route" property="route" jdbcType="VARCHAR"/>
        <id column="describe" property="describes" jdbcType="VARCHAR"/>
        <id column="sort" property="sort" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="batchAddUserApp" parameterType="com.bc.app.server.entity.App">
        insert into t_user_app
        (
        id,
        user_id,
        app_id,
        sort,
        is_fast,
        create_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.uaId},
            #{item.userId},
            #{item.uaAppId},
            #{item.uaSort},
            #{item.isFast},
            now()
            )
        </foreach>

    </insert>

</mapper>