<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.EnterpriseMapper">

    <resultMap id="enterprise" type="com.bc.app.server.entity.Enterprise">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="short_name" property="shortName" jdbcType="VARCHAR"/>
        <id column="reg_location" property="regLocation" jdbcType="VARCHAR"/>
        <id column="legal_person_name" property="legalPersonName" jdbcType="VARCHAR"/>
        <id column="estiblish_date" property="estiblishDate" jdbcType="VARCHAR"/>
        <id column="reg_status" property="regStatus" jdbcType="VARCHAR"/>
        <id column="credit_code" property="creditCode" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getEnterpriseListByKeyword" resultMap="enterprise" parameterType="map">
        select e.*,
        ext.legal_person_name,
        ext.estiblish_date,
        ext.reg_status,
        ext.credit_code
        from t_enterprise e
        left join t_enterprise_ext ext on e.id = ext.enterprise_id
        where name like '%${keyword}%'
        or short_name like '%${keyword}%'
    </select>

    <update id="updateEnterprise" parameterType="com.bc.app.server.entity.Enterprise">
        update t_enterprise
        set
        <if test="shortName != null and shortName !=''">
            short_name = #{shortName},
        </if>
        <if test="telephone != null and telephone != ''">
            telephone = #{telephone},
        </if>
        id = #{id}
        where id = #{id}
    </update>

    <update id="updateEnterpriseExt" parameterType="com.bc.app.server.entity.Enterprise">
        update t_enterprise_ext
        set
        <if test="legalPersonName != null and legalPersonName !=''">
            legal_person_name = #{legalPersonName},
        </if>
        <if test="estiblishDate != null and estiblishDate != ''">
            estiblish_date = #{estiblishDate},
        </if>
        <if test="regStatus != null and regStatus != ''">
            reg_status = #{regStatus},
        </if>
        <if test="regCapital != null and regCapital != ''">
            reg_capital = #{regCapital},
        </if>
        enterprise_id = #{id}
        where enterprise_id = #{id}
    </update>

</mapper>