<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.FabricCheckProblemConfigMapper">

    <insert id="addFabricQcProblemConfig" parameterType="com.bc.app.server.entity.FabricCheckProblemConfig">
        insert into t_fabric_check_problem_config
        (
        id,
        enterprise_id,
        tag,
        create_time
        )
        values
        (
        #{id},
        #{enterpriseId},
        #{tag},
        now()
        )
    </insert>

    <select id="getAlllByEnterpriseId" resultType="com.bc.app.server.entity.FabricCheckProblemConfig"
            parameterType="com.bc.app.server.entity.FabricCheckProblemConfig">
        select
        id ,
        enterprise_id as enterpriseId,
        tag,
        create_time as createTime
        from t_fabric_check_problem_config
        where 1=1
        <if test="enterpriseId != null and enterpriseId != ''">
            and enterprise_id = #{enterpriseId}
        </if>
        <if test="tag != null and tag != ''">
            and tag = #{tag}
        </if>
        order by create_time desc
    </select>

</mapper>