<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.FabricQcRecordMapper">

    <update id="updateByid" parameterType="map">
        UPDATE t_fabric_qc_record
        <trim prefix="SET" suffixOverrides=",">
            <if test='lengthAfter != null and lengthAfter != "" '>
                length_after = #{lengthAfter},
            </if>
            <if test='weightAfter != null and weightAfter != "" '>
                weight_after = #{weightAfter},
            </if>
            <if test='remark != null and remark != "" '>
                remark=#{remark},
            </if>
            modify_time = now()
        </trim>
        where id = #{id}

    </update>

    <select id="selectById" resultType="fabricQcRecord" parameterType="com.bc.app.server.entity.FabricQcRecord">
        SELECT
        id,
        sno,
        cylinder_number as cylinderNumber ,
        length_before as lengthBefore ,
        length_after as lengthAfter,
        length_unit as lengthUnit,
        weight_before as weightBefore,
        weight_after as weightAfter,
        weight_unit as weightUnit,
        warehouse_id as warehouseId,
        create_time as createTime,
        modify_time as modifyTime,
        remark as remark
        FROM
        `t_fabric_qc_record`
        WHERE is_delete=0
        <if test='id != null and id != "" '>
            and id=#{id}
        </if>
    </select>

    <select id="getByWarehouseId" resultType="fabricQcRecord" parameterType="com.bc.app.server.entity.FabricQcRecord">
        SELECT
        id,
        sno,
        cylinder_number as cylinderNumber ,
        length_before as lengthBefore ,
        length_after as lengthAfter,
        length_unit as lengthUnit,
        weight_before as weightBefore,
        weight_after as weightAfter,
        weight_unit as weightUnit,
        warehouse_id as warehouseId,
        create_time as createTime,
        modify_time as modifyTime,
        remark
        FROM
        `t_fabric_qc_record`
        WHERE is_delete=0
        <if test='warehouseId != null and warehouseId != "" '>
            and warehouse_id=#{warehouseId}
        </if>
    </select>


    <select id="getCountData" resultType="com.bc.app.server.vo.fabricqcrecordcontrollervo.GetByWarehouseIdVo">
        SELECT
        -- CAST(13.123 as DECIMAL(13,2))
        CAST(SUM( length_before ) as DECIMAL(13,2)) AS lengthBeforeTotal,
        CAST(SUM( length_after ) as DECIMAL(13,2)) AS lengthAfterTotal,
        CAST(SUM( weight_before ) as DECIMAL(13,2)) AS weightBeforeTotal,
        CAST(SUM( weight_after ) as DECIMAL(13,2)) AS weightAfterTotal,
        cylinder_number as cylinderNumber
        FROM
        `t_fabric_qc_record`
        WHERE
        is_delete = 0
        <if test='warehouseId != null and warehouseId != "" '>
            and warehouse_id=#{warehouseId}
        </if>
    </select>


    <insert id="addRecord" parameterType="com.bc.app.server.entity.FabricQcRecord">
     insert into t_fabric_qc_record
        (
        id,
        sno,
        length_before,
        length_after,
        length_unit,
        weight_before,
        weight_after,
        weight_unit,
        create_time
        )
        values
        (
        #{id},
        #{sno},
        #{lengthBefore},
        #{lengthAfter},
        #{lengthUnit},
        #{weightBefore},
        #{weightAfter},
        #{weightUnit},
         now()
        )

    </insert>

    <insert id="insertList" parameterType="com.bc.app.server.entity.FabricQcRecord">
        insert into t_fabric_qc_record
        (
        id,
        sno,
        length_before,
        length_after,
        weight_before,
        weight_after,
        warehouse_id,
        create_time
        )
        values
        <foreach collection="list" item="fabricQcRecord" separator=",">
            (
            #{fabricQcRecord.id},
            #{fabricQcRecord.sno},
            #{fabricQcRecord.lengthBefore},
            #{fabricQcRecord.lengthAfter},
            #{fabricQcRecord.weightBefore},
            #{fabricQcRecord.weightAfter},
            #{fabricQcRecord.warehouseId},
            now()
            )
        </foreach>
    </insert>


    <delete id="deleteByWarehouseId" parameterType="string">
        update t_fabric_qc_record set is_delete = 1  where  warehouse_id= #{id}
    </delete>
</mapper>