<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.FabricCheckTaskMapper">
    <update id="batchUpdateFabricCheckTaskById" parameterType="com.bc.app.server.entity.FabricCheckTask">
        update t_fabric_check_task

        <trim prefix="SET" suffixOverrides=",">
            <if test='enterpriseId != null and enterpriseId != "" '>
                enterprise_id = #{enterpriseId},
            </if>
            <if test='isDelete != null and isDelete != "" '>
                is_delete = #{isDelete},
            </if>
            modify_time_examine = now()
        </trim>
        where id = #{id}
    </update>
    <update id="updateById">
        update t_fabric_check_task
        <trim prefix="SET" suffixOverrides=",">
            <if test='modifyTimeExamine != null and modifyTimeExamine != "" '>
                modify_time_examine = now(),
            </if>
            <if test='modifyTimeApply != null and modifyTimeApply != "" '>
                modify_time_apply = now(),
            </if>
        </trim>
        where id = #{id}
    </update>


    <select id="addFabricCheckTask" parameterType="com.bc.app.server.entity.FabricCheckTask">
         insert into t_fabric_check_task
        (
        id,
        goods_name,
        goods_no,
        goods_photos,
        goods_id,
        related_company_name,
        related_company_short_name,
        related_company_id,
        order_no,
        order_theme,
        order_id,
        enterprise_id,
        delivery_date,
        create_time,
        modify_time_apply,
        modify_time_examine
        )
        values
        (
        #{id},
        #{goodsName},
        #{goodsNo},
        #{goodsPhotos},
        #{goodsId},
        #{relatedCompanyName},
        #{relatedCompanyShortName},
        #{relatedCompanyId},
        #{orderNo},
        #{orderTheme},
        #{orderId},
        #{enterpriseId},
        #{deliveryDate},
        now(),
        now(),
        now()
        )
    </select>


    <resultMap id="fabricCheckTaskPageInfos" type="com.bc.app.server.entity.FabricCheckTask">
        <id column="id" property="id"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_no" property="goodsNo"/>
        <result column="goods_photos" property="goodsPhotos"/>
        <result column="goods_id" property="goodsId"/>
        <result column="related_company_name" property="relatedCompanyName"/>
        <result column="related_company_short_name" property="relatedCompanyShortName"/>
        <result column="related_company_id" property="relatedCompanyId"/>
        <result column="order_no" property="orderNo"/>
        <result column="order_theme" property="orderTheme"/>
        <result column="order_id" property="orderId"/>
        <result column="enterprise_id" property="enterpriseId"/>

        <collection property="fabricCheckLotInfoList" ofType="com.bc.app.server.entity.FabricCheckLotInfo">
            <id column="b_id" property="id"/>
            <result column="fabric_check_task_id" property="fabricCheckTaskId"/>
            <result column="lot_no" property="lotNo"/>
            <result column="num" property="num"/>
            <result column="length" property="length"/>
            <result column="weight" property="weight"/>
        </collection>
    </resultMap>

    <select id="getFabricCheckTaskPageInfo" resultType="com.bc.app.server.entity.FabricCheckTask">
        select
        id,
        goods_name as goodsName,
        goods_no as goodsNo,
        goods_photos as goodsPhotos,
        goods_id as goodsId,
        related_company_name as relatedCompanyName,
        related_company_short_name as relatedCompanyShortName,
        related_company_id as relatedCompanyId,
        order_no as orderNo,
        order_theme as orderTheme,
        order_id as orderId,
        delivery_date as deliveryDate,
        enterprise_id as enterpriseId
        from t_fabric_check_task
        where is_delete = '0' and enterprise_id = #{enterpriseId}
        <if test="keyword != null and keyword != ''">
            and ( goods_name like concat('%', #{keyword},'%')
            or goods_no like concat('%', #{keyword},'%')
            or related_company_name like concat('%', #{keyword},'%')
            or related_company_short_name like concat('%',#{keyword},'%')
            or order_no like concat('%', #{keyword},'%'))
        </if>
        <if test="modifyTimeApply != null and modifyTimeApply != ''">
            order by modify_time_apply desc
        </if>
        <if test="modifyTimeExamine != null and modifyTimeExamine != ''">
            order by modify_time_examine desc
        </if>
    </select>

</mapper>