<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.FabricCheckRecordProblemPositionMapper">

    <insert id="addFabricCheckRecordProblemPosition">
        insert into
        t_fabric_check_record_problem_position
        (
        id,
        record_id,
        problem_position,
        create_time
        )
        values(
        #{id},
        #{recordId},
        #{problemPosition},
        now()
        )
    </insert>
    <delete id="deleteById">
        delete from t_fabric_check_record_problem_position where id = #{id}
    </delete>
    <select id="getEntiryGroupByProblemPosition"
            resultType="com.bc.app.server.entity.FabricCheckRecordProblemPosition">
        select
        id,
        record_id as recordId,
        problem_position as problemPosition
        from t_fabric_check_record_problem_position
        where record_id = #{recordId}
        order by cast(problemPosition as UNSIGNED)
    </select>
</mapper>