<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.GoodsSpecMapper">


    <update id="updateGoodsSpecResidualNumberByGoodsId" parameterType="string">
        UPDATE t_goods_spec c
        SET c.residual_number = (
        SELECT
        sum( residual_number )
        FROM
        t_stock_application_in_record r
        LEFT JOIN t_stock_application s ON r.stock_application_id = s.id
        WHERE
        s.STATUS = '1'
        AND s.is_delete = '0'
        AND r.goods_id = #{goodsId} AND r.goods_spec_id = c.id
        )
        WHERE
        c.goods_id = #{goodsId}
    </update>
</mapper>