<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.LinkmanMapper">

    <resultMap id="linkman" type="com.bc.app.server.entity.econtract.Linkman">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addLinkman" parameterType="com.bc.app.server.entity.econtract.Linkman">
        insert into t_contract_link_man
        (
        id,
        enterprise_id,
        name,
        phone,
        email,
        company_name,
        remark,
        create_user,
        create_time,
        modify_time
        )
        values
        (
        #{id},
        #{enterpriseId},
        #{name},
        #{phone},
        #{email},
        #{companyName},
        #{remark},
        #{userId},
        now(),
        now()
        )
    </insert>

    <select id="getLinkmanList" resultMap="linkman">
        select * from t_contract_link_man
        where enterprise_id = #{enterpriseId}
        order by create_time desc
    </select>

</mapper>