<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.ScheduleMapper">

    <resultMap id="schedule" type="com.bc.app.server.entity.Schedule">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="begin_time" property="beginTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="images" property="images" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addSchedule" parameterType="com.bc.app.server.entity.Schedule">
        insert into t_schedule
        (
        id,
        title,
        user_id,
        begin_time,
        end_time,
        address,
        remark,
        images,
        create_time,
        modify_time
        )
        values
        (
        #{id},
        #{title},
        #{userId},
        #{beginTime},
        #{endTime},
        #{address},
        #{remark},
        #{images},
        now(),
        now()
        )
    </insert>

    <select id="getScheduleList" resultMap="schedule" parameterType="String">
        select
        *
        from
        t_schedule
        where user_id = #{userId}
        and delete_status = '0'
        order by modify_time desc
    </select>

    <delete id="deleteSchedule">
        update t_schedule
        set delete_status = '1'
        where id = #{scheduleId}
    </delete>

</mapper>