<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.app.server.mapper.VerifyCodeMapper">

    <insert id="addVerifyCode" parameterType="com.bc.app.server.entity.VerifyCode">
        insert into t_verify_code
        (
        id,
        phone,
        code,
        type,
        create_time,
        expire_time
        )
        values
        (
        #{id},
        #{phone},
        #{code},
        #{type},
        #{createTime},
        #{expireTime}
        )
    </insert>

    <select id="getValidVerifyCodeList" parameterType="map" resultType="String">
        <![CDATA[
        select
        code
        from t_verify_code
        where phone = #{phone}
        and type = #{type}
        and expire_time > now()
        order by create_time desc
        ]]>
    </select>

</mapper>